<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240390921397-2fdhr5moiram3jn429f11rms6pk6bgg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240390921397-2fdhr5moiram3jn429f11rms6pk6bgg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240390921397-ulhcumqg2smt6adph23otucu8st0gvup.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAdMK6PTi_dXzYjE9_NzVYGiw2qnK_sO4</string>
	<key>GCM_SENDER_ID</key>
	<string>240390921397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rgr.rutappacyl.dev</string>
	<key>PROJECT_ID</key>
	<string>cpcacereno-a8fd9</string>
	<key>STORAGE_BUCKET</key>
	<string>cpcacereno-a8fd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240390921397:ios:b30e486bcfea154c6132fc</string>
</dict>
</plist>